<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {#<meta name="viewport" content="width=device-width, initial-scale=1.0">#}
    <link href="{{ url_for('static',filename='css/bootstrap-responsive.css') }}" rel="stylesheet">
    <title>{% block title %}{% endblock %}企业搜索系统</title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/base.css') }}">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>

    {% block head %}{% endblock %}
    <style>
        .picsize {
            width: 50px;
            height: 36px;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <form class="navbar-form navbar-left" name="search" action="/search/" method="POST"
                  style="text-align: left">
                <p>
                    <font size="5" color="black" style="margin-right: 20px;">企业搜索系统</font>
                    {% if key %}
                        <input type="text" name="key_word" class="form-control" value="{{ key }}">
                    {% else %}
                        <input type="text" name="key_word" class="form-control" placeholder="请输入查询">
                    {% endif %}
                    <input type="submit" class="btn btn-default" value="Search">
                </p>
            </form>
            <ul class="nav navbar-nav navbar-right">
                {% if username %}
                    <li><p class="navbar-text">
                        <a href="#" rel="external nofollow" rel="external nofollow"
                           class="navbar-link">{{ username }}
                        </a> 您好</p></li>

                    <li><a href="{{ url_for('logout') }}">注销</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">登录</a></li>
                    <li><a href="{{ url_for('register') }}">注册</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="high_search">
    {% block high_search %}
    {% endblock %}
    {% if error %}
        {% for doc in docs %}
            <div id="doc">
                <ul id="navigation">
                    <p><big><a href="/search/{{ doc.id }}/" target="_blank">{{ doc.title }}</a></big></p>
                    <small class="form-text text-muted">{{ doc.time }}</small>
                    <p class="card-text">{{ doc.snippet }}<br/>
                        <a href="{{ doc.url }}" target="_blank">{{ doc.url }}</a>
                    </p>
                </ul>
            </div>
            <br/>
        {% endfor %}
        {% block next %}
            <ul>
                {% for i in page %}
                    <a href="/search/page/{{ i }}/">{{ i }}</a>&nbsp;
                {% endfor %}
            </ul>
        {% endblock %}
    {% else %}
        {#        <p>对不起，没有您搜索的网页！</p>#}
    {% endif %}
</div>

{#<script>#}
{#    $(function () {#}
{#        $(".navbar-nav").find("li").each(function () {#}
{#            var a = $(this).find("a:first")[0];#}
{#            if ($(a).attr("href") === location.pathname) {#}
{#                $(this).addClass("active");#}
{#            } else {#}
{#                $(this).removeClass("active");#}
{#            }#}
{#        });#}
{#    })#}
{#</script>#}

<div class="main">
    {% block main %}{% endblock %}
</div>
{#<div class="click">#}
{#    {% block click %}{% endblock %}#}
{#</div>#}
<div id="footer" style="text-align: right;right:0px;bottom:0px;">
    <hr>
    &copy; 2019 <a href="https://github.com/1160300901/" target="_blank">孙月晴</a>
</div>

</body>
</html>